/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Instrument+Serif&family=Lemonada:wght@700&family=Lilita+One&family=Stick+No+Bills:wght@200;600;800&family=Tilt+Warp&display=swap');


body{
    font-family: 'Bacasime Antique', serif;

}
h1{
    font-family: 'Caprasimo', cursive;
}
p{
    font-family: 'Tilt Warp', cursive;}